# Dependencies
node_modules/
**/node_modules/

# Production / Build
dist/
**/dist/
dist-ssr/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
